* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

:root {
    /* Primary */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients for background */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    /* Circle */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

    background-color: var(--pale-blue);
}

.container {
    width: 700px;
    height: 500px;
    display: flex;
    /* border: 1px solid black; */
    border-radius: 30px;
    background-color: var(--white);
    box-shadow: 5px 5px 31px -18px rgba(66, 68, 90, 0.5);
}

.col {
    width: 50%;
    height: 100%;
    border-radius: 30px;
    /* border: 1px solid gray; */
}

/* ----------------------- */

.col.left {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;

    padding: 32px;
    color: var(--light-lavender);
    background: linear-gradient(0deg, var(--light-royal-blue), var(--light-slate-blue) 100%);
}

.col.left h2 {
    margin-bottom: 20px;
}

.col.left ._76_ {
    width: 200px;
    height: 200px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    margin-bottom: 20px;

    background: linear-gradient(0deg, var(--persian-blue) 0%, var(--violet-blue) 100%);
}

.col.left ._76_ .large {
    font-weight: 700;
    font-size: 70px;
    color: var(--white);
}

.col.left h1 {
    color: var(--white);
    font-weight: 600;
}

.col.left .description {
    text-align: center;
    width: 250px;
}

/* ----------------------------- */

.col.right {
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
}

.col.right h2 {
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--dark-gray-blue);
}

.col.right .states {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;
    margin-bottom: 20px;
    color: hsla(224, 30%, 27%, 0.5);
    /* border: 1px solid blue; */
}

.col.right .states .row {
    width: 100%;
    padding: 12px;

    display: flex;
    border-radius: 12px;
    /* border: 1px solid gray; */
}

.col.right .states .row.reaction .text_state {
    color: var(--light-red);
}

.col.right .states .row.memory .text_state {
    color: var(--orangey-yellow);
}

.col.right .states .row.verbal .text_state {
    color: var(--green-teal);
}

.col.right .states .row.visual .text_state {
    color: var(--cobalt-blue);
}

.col.right .states .row .row_info {
    display: flex;
    align-items: center;
    width: 100%;
    /* border: 1px solid green; */
}

.col.right .states .row .row_info .icon_state {
    padding-right: 10px;
    height: 20px;
    /* border: 1px solid orange; */
}

.col.right .states .row .row_info .text_state {
    flex: 2;
    /* border: 1px solid pink; */
}

.col.right .states .row .row_info .number_state {
    flex: 1.2;
    display: flex;
    font-weight: 700;
    justify-content: flex-end;
    /* border: 1px solid yellow; */
}

.col.right .states .row .row_info .number_state .high {
    margin-right: 5px;
    font-weight: 700;
    color: var(--dark-gray-blue);
}

.col.right button {
    font-size: 20px;
    padding: 16px;
    color: var(--white);
    border: none;
    margin-top: 20px;
    border-radius: 50px;
    background-color: var(--dark-gray-blue);
}

/* ----------------------------- */

.attribution {
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 1px;
    right: 1px;
    color: hsl(228, 45%, 44%);
}